<h1>Home#contato</h1>
<p>Find me in app/views/home/contato.html.erb</p>
<div class="row">
  <div class="formulario col-md-6">
    <h3>Fale Conosco</h3>
    <p>Entre em contato conosco. Envie sua mensagem através do formulário abaixo.</p>
    <div class="formulario_container"> 
      <form action="" method="post" accept-charset="utf-8" class="formee">            
        <fieldset>
          <div class="form-group">
            <label class="form_label">Nome <span class="text-danger">*</span></label>
            <input class="form-control" name="nome" type="text" id="nome" size="100" />
          </div>
          <div class="form-group">
            <label class="form_label">Email <span class="text-danger">*</span></label>
            <input class="form-control" name="email" type="text" id="email" size="40" />
          </div>
          <div class="row">
            <div class="col-md-9">
              <label class="form_label">Cidade <span class="text-danger">*</span></label>
              <input class="form-control" name="cidade" type="text" id="cidade" size="40" />
            </div>
            <div class="col-md-3">                  
              <label class="control-label">Estado <span class="text-danger">*</span></label>
              <select class="form-control" name="estado" id="estado">
                <option value="">Escolha</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>ol
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MG">MG</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="PR">PR</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="RS">RS</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="TO">TO</option>
              </select>
            </div>
          </div>
          <br />
          <div class="form-group">
            <label class="control-label">Telefone <span class="text-danger">*</span></label> 
            <input class="form-control" name="telefone" type="text" id="telefone" size="40" />
          </div>
          <div class="form-group">
            <label class="form_label">Assunto <span class="text-danger">*</span></label>
            <input class="form-control" name="assunto" type="text" id="assunto" size="100" />
          </div>
          <div class="form-group">
            <label class="form_label">Mensagem <span class="text-danger">*</span></label>
            <textarea name="mensagem" cols="31" rows="5" id="mensagem" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" name="sendForm" id="sendForm" value="Enviar" class="btn btn-primary"/>
            <input type="reset" name="limpar" id="limpar" value="Limpar" class="btn btn-default"/>
          </div>
        </fieldset>
      </form> 
    </div>
  </div>

  <div class="col-md-6">
    <div class="info_contato">
      <h3>Informações de Contatos</h3>
      <br />
      <p><strong>Localização</strong>: Fortaleza Ceará Brasil</p>
      <p><strong>Telefones</strong>: +55 85 0000 0000<br />
        +55 85 0000 0000  </p>
        <p><strong>Email</strong>: <a href="mailto:gilcierweb@gmail.com">gilcierweb@gmail.com</a><br />
          <strong>Website</strong>: <a href="http://www.gilcierweb.com.br">http://www.gilcierweb.com.br</a></p>
          <hr />
        </div>
      </div>
    </div>