<h1>Editing adm_galerias_imagem</h1>

<%= render 'form' %>

<%= link_to 'Show', @adm_galerias_imagem, class: "btn btn-info" %> |
<%= link_to 'Back', adm_galerias_imagens_path, class: "btn btn-default" %>
